<!--
    File Name   : Footer.
    Name        : Soumya NNarayananunni.
                    Taylor Bazouzi.
    Date        : 24-APR-2022
-->
<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid">
    <h5>&copy; Copyright 2022.</h5>
  </div>
</nav>