<h3>About Cynthia Devweb</h3>
<div style="width: 750px;;">
    <p>
        We are a team of freelance web developers with 5 years of experience in industry and a passion for ingenuity.

        <br></br>
    <h3> Why Choose Cynthia DevWeb?</h3>
    <p>Our extensive knowledge and experience in web development will play a key role in turning your website dreams
        into
        reality! Throughout these years, as a team o0f web developers, we have yet to find a task we could not complete
        in a
        timely, well-communicated manner.
    </p>
    <br></br>
    </p>
</div>