<h1 class="navbar-brand mb-5">Welcome to Cynthia DevWeb</h1>
<div>
    <i class="fas fa-atom-simple"></i>
    <h2>Your perfect partner in Web Development !!</h2>
</div>
<button id="AboutUsButton" class="btn btn-secondary">Learn more About Us!</button>