<h1 class="navbar-brand mb-5">Welcome to Cynthia DevWeb</h1>
<div>
    <table>
        <tr>
            <td><img src="/Content/Images/cyLogo.png" alt="Logo" /></td>
            <td>
                <h2>Your perfect partner in Web Development !!</h2>
            </td>
        </tr>
    </table>
</div>
<button id="AboutUsButton" class="btn btn-secondary">Learn more About Us!</button>