<h1 class="navbar-brand mb-5">Welcome to Cynthia DevWeb</h1>
<div style="width: 750px;">
    <table>
        <tr>
            <td><img src="/Content/Images/cyLogo.png" alt="Logo" /></td>
            <td>
                <h5>Your perfect partner in Web Development !!</h5>
            </td>
        </tr>
    </table>
    <button id="AboutUsButton" class="btn btn-secondary">Learn more About Us!</button>
</div>