<h1 class="navbar-brand mb-5">Welcome to Cynthia DevWeb</h1>
<img src="/Content/Images/cyLogo.png" alt="Logo" />
<div>
    <h2>Your perfect partner in Web Development !!</h2>
</div>
<button id="AboutUsButton" class="btn btn-secondary">Learn more About Us!</button>