<h1>My Projects</h1>
<div>
    <h2>Home Page Clones</h2>

    <p> Working alone, I have cloned the youtube home page.
        Not only does it look the same, it functions similarly as well! Minus
        any functionalities not pertaining to just the home page.
    </p>
    <br></br>

    <h2>Website Background Generator</h2>
    <p>
        This project was a relatively simple background generator that anyone could use to design an eye-grabbing
        website. The
        generator will use one or more font color codes or hexes to determine the most complimentary background color
        and even
        style, such as solid color, gradient, strips, and more!
    </p>

    <br></br>

    <h2>Responsive Website connected to a Database</h2>
    <p>
        For this project we created a highly responsive website that allows authorized users
        to login and retrieve as well as stor information in a database. Feel free to sign
        in anf navigate through this website using this default login.
        <br></br>
        <b>Username:</b> Test <b>Email:</b> test@example.com <b>Password:</b> Test
    </p>
    <br></br>

    <p>
        * Screem shot taken from the Home Page on <a href="https://www.youtube.com/"></a><br></br>
        ** Screem shot taken from Interviewbit <a
            href="https://www.interviewbit.com/blog/web-development-projects/"></a>
        on <a href="https://www.interviewbit.com"></a> <br></br>



    </p>



</div>